<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BagbackJack | Galería</title>
    <!--CSS-->
    <link rel="stylesheet" href="../css/style.css">
    <link rel="shortcut icon" href="../images/images_logo/favicon.png" type="image/x-icon">
</head>
<body>
    <header>
    <!--NAVEGACIÓN-->
    <div class="navbar">
        <ul>
            <li>
                <a href="../index.html">Inicio</a>
            </li>
            <li>
                <a href="#" class="resaltado">Galería</a>
            </li>
            <li>
                <a href="../index.html"><img src="../images/images_logo/main-logo.png" alt="Logotipo de BagbackJack" width="851" height="265"></a>
            </li>
            <li>
                <a href="./presupuesto.html">Presupuesto</a>
            </li>
            <li>
                <a href="./contacto.html">Contacto</a>
            </li>
            <li>
                <a href="#"><img src="../images/images_sources/shopping-car.jpg" alt="icon carrito de la compra" id="carrito-compra" width="1920" height="1920"></a>
            </li>
        </ul>
    </div>
    </header>

    <main>
        <div id="galeria-text" class="animado">
            <h3>Nuestro catálogo</h3>
            <br>
            <h4>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Esse reprehenderit modi consectetur blanditiis magni ullam sit, magnam earum culpa. Deleniti id quia esse quidem minima, quo adipisci recusandae eos nemo.
            Ipsum, alias blanditiis, modi sint architecto officia numquam dolor voluptatibus quod autem incidunt distinctio aut facere porro necessitatibus qui maxime cum nisi. Reiciendis recusandae eligendi unde ut atque culpa ullam?</h4>
    
        </div>



        <!--GALERIA DINAMICA-->
        <div class="slider-contenedor-main">
            <div class="slider-contenedor">
                <div class="imagen-container">
                    <img class='slider-element' src="../images/slider-images/pexels-photo-1294731.jpeg" alt="imagen slider estuche" width="1125" height="750">
                    <img class='slider-element' src="../images/slider-images/pexels-photo-1986996.jpeg" alt="imagen slider persona llevando mochila colgada" width="1125" height="750">
                    <img class='slider-element' src="../images/slider-images/pexels-photo-443417.jpeg" alt="imagen slider persona llevando mochila desde el asa" width="1125" height="750">
                    <img class='slider-element' src="../images/slider-images/pexels-photo-868097.jpeg" alt="imagen maleta de viaje" width="1125" height="750">
                </div>
                <div id="boton-1a">
                </div>
                <div id="boton-2a">
                </div>
                <div class="btn-slides">
                    <span class="btn" id="btn-1"></span>
                    <span class="btn" id="btn-2"></span>
                    <span class="btn" id="btn-3"></span>
                    <span class="btn" id="btn-4"></span>
                </div>
            </div>
        </div>

        <!--GALERIA QUE CARGA DE FORMA DINAMICA-->
        <div class="galeria-contenedor-main">
            <h3>Galería de productos</h3>
            <div class="grid-contenedor">
                <div class="card-container"><img src="https://picsum.photos/400/300" alt="Imagen aleatoria generada como prueba"></div>
                <div class="card-container"><img src="https://picsum.photos/401/300" alt="Imagen aleatoria generada como prueba"></div>
                <div class="card-container"><img src="https://picsum.photos/402/300" alt="Imagen aleatoria generada como prueba"></div>
                <div class="card-container"><img src="https://picsum.photos/403/300" alt="Imagen aleatoria generada como prueba"></div>
                <div class="card-container"><img src="https://picsum.photos/404/300" alt="Imagen aleatoria generada como prueba"></div>
                <div class="card-container"><img src="https://picsum.photos/405/300" alt="Imagen aleatoria generada como prueba"></div>
                <div class="card-container"><img src="https://picsum.photos/406/300" alt="Imagen aleatoria generada como prueba"></div>
                <div class="card-container"><img src="https://picsum.photos/407/300" alt="Imagen aleatoria generada como prueba"></div>
                <div class="card-container"><img src="https://picsum.photos/403/300" alt="Imagen aleatoria generada como prueba"></div>
                <div class="card-container"><img src="https://picsum.photos/406/300" alt="Imagen aleatoria generada como prueba"></div>
                <div class="card-container"><img src="https://picsum.photos/400/300" alt="Imagen aleatoria generada como prueba"></div>
                <div class="card-container"><img src="https://picsum.photos/400/300" alt="Imagen aleatoria generada como prueba"></div>
                <div class="card-container"><img src="https://picsum.photos/408/300" alt="Imagen aleatoria generada como prueba"></div>
            </div>
        </div>


    </main>

    <!--FOOTER-->
    <footer>
        <div class="pie_pag" id="div_bloque">
            <div class="caja_pie_pag" id="div-correo">
                <input type="text" value="Suscríbete a nuestra newsletter" id="input-correo">
                <button>Suscribirse</button>
            </div>
            <div class="caja_pie_pag" id="direccion">
                BagBackJack©<br>
                +34 941 54 54 87<br>
                Calle Pepito de los Palotes 4<br>
                Málaga, España<br>
                54865
            </div>
            <!--rrss-->
            <div class="caja_pie_pag" id="rrss-block">
                <a href=""><img src="../images/social_media/linkedin.png" class="social_icon" alt="Logotipo de LinkedIn" width="401" height="403"></a>
                <a href=""><img src="../images/social_media/twitter.png" class="social_icon" alt="Logotipo de Twitter" width="402" height="402"></a>
                <a href=""><img src="../images/social_media/insta.png" class="social_icon" alt="Logotipo de Instagram" width="512" height="512"></a>
                <a href=""><img src="../images/social_media/facebook.png" class="social_icon" alt="Logotipo de Facebook" width="413" height="412"></a>
            </div>
        </div>
        <div class="pie_pag">
            <a href="#" class="caja_pie_pag">Contacto</a>
            <a href="#" class="caja_pie_pag">Política de privacidad</a>
            <a href="#" class="caja_pie_pag">Quiénes somos</a>
            <a href="#" class="caja_pie_pag">Nuestro compromiso</a>
        </div>
        <div class="pie_pag">
            <h4 class="caja_pie_pag">Colecciones</h4>
            <a href="#" class="caja_pie_pag">Montaña</a>
            <a href="#" class="caja_pie_pag">Mar</a>
            <a href="#" class="caja_pie_pag">Para estudiantes</a>
            <a href="#" class="caja_pie_pag">Vintage</a>
        </div>
        <div class="pie_pag">
            <h4 class="caja_pie_pag">Atención al cliente</h4>
            <a href="#" class="caja_pie_pag">Preguntas más frecuentes</a>
            <a href="#" class="caja_pie_pag">Devolución y reembolso</a>
            <a href="#" class="caja_pie_pag">Rastrear mi pedido</a>
            <a href="#" class="caja_pie_pag">Condiciones de envío</a>
        </div>
        <div class="copyright">
            <p>2024 BagBackJack© Todos los derechos reservados</p>
        </div>
    </footer>
    
    <!--SCRIPT-->
    <script type="module" src="../js/script.js"></script>

</body>
</html>